<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.educacionsuperior.gob.ec/">
                        <img src="img/logos/senescyt.png" class="img-responsive img-centered" alt="Secretaría de Educación Superior, Ciencia, Tecnología e Innovación">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.uleam.edu.ec/">
                        <img src="img/logos/1.png" class="img-responsive img-centered" alt="ULEAM">
                    </a>
                </div>
            </div>
        </div>
    </aside>