  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li>
                          <a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i>
                                                      <i class="ai ai-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="http://www.uleam.edu.ec/">Universidad Laica Eloy Alfaro</a>
                        </li>
                        <li><a href="http://en.wikipedia.org/wiki/Manta,_Ecuador">Manta, Ecuador</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
