<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Info</h2>
                    <h3 class="section-subheading text-muted">Justification, Goal, and Methods.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Why</h4>
                    <p class="text-muted">Machalilla National Park and Pacoche Refuge are highly threatened and poorly studied hotspots of biodiversity.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Goal</h4>
                    <p class="text-muted">We want to document terrestrial vertebrates and their habitat use.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">How</h4>
                    <p class="text-muted">We use standardized protocols to deploy camera traps. Our occupancy models will allow us to understand habitat use patterns.</p>
                </div>
            </div>
        </div>
    </section>